*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}

.calc-body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #464646;
  min-width: 20em;
  border: 16em/16 solid #141414;
}

.calc-body .screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 2rem;
          flex: 1 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse nowrap;
          flex-flow: column-reverse nowrap;
  overflow: hidden;
  color: whitesmoke;
  background-color: #373737;
}

.calc-body .screen .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.375rem 0.1875rem;
  color: #c2c2c2;
}

.calc-body .screen .history span {
  display: inline-block;
}

.calc-body .screen .history span.left {
  text-align: left;
  width: 50%;
  overflow: hidden;
}

.calc-body .screen .history span.right {
  width: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-body .screen .input-area {
  background: #2f2f2f;
  border-top: 0.0625rem solid #141414;
  padding: 0.1875rem;
}

.calc-body .screen .input-area #active {
  width: 100%;
  height: 1.6625rem;
  padding: 0.375rem 0 0.1875rem;
  font-size: 1.1rem;
  overflow: hidden;
}

.calc-body .screen .input-area #warn {
  width: 100%;
  height: 1.175rem;
  overflow: hidden;
  font-size: .8rem;
  padding: 0.1875rem 0;
  background: #2f2f2f;
}

.calc-body .buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "seven eight nine divide delete clear" "four five six multiply po pc" "one two three subtract mod super" "zero zero period add equals equals";
  grid-gap: 0.1875rem;
  padding: 0.1875rem;
}

.calc-body .buttons button {
  background: -webkit-gradient(linear, left top, left bottom, from(#373737), to(#2a2a2a));
  background: linear-gradient(#373737, #2a2a2a);
  color: whitesmoke;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  border: 0.03125rem solid #141414;
  height: 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.calc-body .buttons button em, .calc-body .buttons button var {
  font-style: italic;
}

.calc-body .buttons button sup {
  vertical-align: super;
  font-size: smaller;
}

.calc-body .buttons button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#323232));
  background: linear-gradient(#3f3f3f, #323232);
}

.calc-body .buttons button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#2a2a2a));
  background: linear-gradient(#1e1e1e, #2a2a2a);
}

.calc-body .buttons #one {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: one;
}

.calc-body .buttons #two {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: two;
}

.calc-body .buttons #three {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: three;
}

.calc-body .buttons #four {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: four;
}

.calc-body .buttons #five {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: five;
}

.calc-body .buttons #six {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: six;
}

.calc-body .buttons #seven {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: seven;
}

.calc-body .buttons #eight {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: eight;
}

.calc-body .buttons #nine {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nine;
}

.calc-body .buttons #zero {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: zero;
}

.calc-body .buttons #period {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: period;
}

.calc-body .buttons #add {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: add;
}

.calc-body .buttons #subtract {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: subtract;
}

.calc-body .buttons #multiply {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: multiply;
}

.calc-body .buttons #divide {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: divide;
}

.calc-body .buttons #superscript {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: super;
}

.calc-body .buttons #sqrt {
  grid-area: sqrt;
}

.calc-body .buttons #clear {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: clear;
}

.calc-body .buttons #delete {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: delete;
}

.calc-body .buttons #mod {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: mod;
}

.calc-body .buttons #parenopen {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: po;
}

.calc-body .buttons #parenclose {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: pc;
}

.calc-body .buttons #equals {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: equals;
  background: #2873af;
  border-color: #144164;
}
/*# sourceMappingURL=styles.css.map */