$button-color: rgb(55,55,55);
$button-border: rgb(20,20,20);
$body-color: rgb(70,70,70);
$equals-color: rgb(40, 115, 175);
$equals-border: rgb(20, 65, 100);

*, *::after, *::before {box-sizing: border-box;}
*:focus {outline: none;}
::-moz-focus-inner {border:0;}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.calc-body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    background-color: $body-color;  
    min-width: (320em/16);
    border: 16em/16 solid $button-border;
    .screen {
        flex: 1 0 6rem;
        display: flex;
        flex-flow: column-reverse nowrap;
        overflow: hidden;
        color: whitesmoke;
        background-color: $button-color;
        .history {
            display: flex;
            flex-flow: column-reverse nowrap;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            padding: (6rem/16) (3rem/16);
            color: darken(whitesmoke, 20%);
            .hist-elem {
                flex: 0 0;
                border-top: 1px solid darken($button-color, 3%);
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: (6rem/16) 0;
                span.left {
                    display: inline-block;
                    text-align: left;
                    width: 50%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span.right {
                    display: inline-block;
                    width: 40%;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    text-overflow: ellipsis;
                }
            }
        }
        .input-area {
            background: darken($button-color, 3%);
            border-top: (1rem/16) solid $button-border;
            padding: (3rem/16);
            #active {
                height: (9rem/16)+1.1rem;
                padding: (6rem/16) 0 (3rem/16);
                width: 100%;
                font: inherit;
                font-size: 1.1rem;
                color: inherit;
                background: transparent;
                border: 0;
            }
            #warn {
                width: 100%;
                height: (6rem/16)+.8rem;
                overflow: hidden;
                font-size: .8rem;
                padding: (3rem/16) 0;
                background: darken($button-color, 3%);
            }
        }
    }
    .buttons {
        flex: 0 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "seven eight nine divide delete clear"
            "four five six multiply po pc"
            "one two three subtract mod super"
            "zero zero period add equals equals";
        grid-gap: (3rem/16);
        padding: (3rem/16);
        button {
            background: linear-gradient($button-color, darken($button-color, 5%));
            color: whitesmoke;
            font-size: 1rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 900;
            border: (1rem/32) solid $button-border;
            height: 2rem;
            border-radius: (4rem/16);
            text-align: center;
            em, var{
                font-style: italic;
            }
            sup {
                vertical-align: super;
                font-size: smaller;
            }
        }
        button:hover {
            background: linear-gradient(lighten($button-color, 3%), darken($button-color, 2%));
        }
        button:active, button.active{
            background: linear-gradient(darken($button-color, 10%), darken($button-color, 5%));
        }
        #one {grid-area:one;} 
        #two {grid-area:two}
        #three {grid-area:three}
        #four {grid-area:four}
        #five {grid-area:five}
        #six {grid-area:six}
        #seven {grid-area:seven}
        #eight {grid-area:eight}
        #nine {grid-area:nine}
        #zero {grid-area:zero}
        #period {grid-area:period}
        #add {grid-area:add}
        #subtract {grid-area:subtract}
        #multiply {grid-area:multiply}
        #divide {grid-area:divide}
        #superscript {grid-area:super}
        #sqrt {grid-area:sqrt}
        #clear {grid-area:clear}
        #delete {grid-area:delete}
        #mod {grid-area:mod}
        #parenopen {grid-area:po}
        #parenclose {grid-area:pc}
        #equals {
            grid-area:equals;
            background: linear-gradient($equals-color, darken($equals-color, 10%));
            border-color: $equals-border;
        }
        #equals:hover {
            background: linear-gradient(lighten($equals-color, 5%), darken($equals-color, 5%));
        }
        #equals:active, #equals.active {
            background: linear-gradient(darken($equals-color, 10%), darken($equals-color, 5%));
        }
    }
}